.about-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.about-container{
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 0px;
}

.about-container h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.about-container p{
    margin-bottom: 15px;
    line-height: 1.6;
    font-size: 13px;
    text-align: justify;
}

